﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NOVINE</h1>
    <p class="lead">Napraviti ASP.NET MVC aplikaciju za objavljivanje novinskih članaka.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Članci</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="/Clanak">Pregled &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Kategorije</h2>
        <p></p>
        <p><a class="btn btn-default" href="/Kategorija">Pregled &raquo;</a></p>
    </div>
</div>