﻿@model Modul2Test_Branislav_Jovanovic.ViewModels.ClanakKategorijaViewModel

@{
    ViewBag.Title = "Izmena Članka";
}

@section Scripts {
    @Scripts.Render("~/Scripts/clanak - validation.js")
}

<h2>Izmena Članka</h2>


@using (Html.BeginForm("Edit", "Clanak", FormMethod.Post, new { onsubmit = "return isFormValid(this)" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.Clanak.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Clanak.Naslov, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clanak.Naslov, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Clanak.Naslov, "", new { @class = "text-danger" })
                <span id="spnaslov" style="color:red"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clanak.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clanak.Autor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Clanak.Autor, "", new { @class = "text-danger" })
                <span id="spautor" style="color:red"></span>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(model => model.Clanak.Kategorija.Id,
                                                      new SelectList(@Model.Kategorije, "Id", "Naziv"),
                                                      "Izaberi Kategoriju")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clanak.Tekst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Clanak.Tekst" cols="50" rows="5">@Model.Clanak.Tekst</textarea>
                @Html.ValidationMessageFor(model => model.Clanak.Tekst, "", new { @class = "text-danger" })
                <span id="sptekst" style="color:red"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Posalji" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
