﻿@model Modul2Test_Branislav_Jovanovic.ViewModels.ClanakKategorijaViewModel

@{
    ViewBag.Title = "Članci";
}

@section Scripts {
    @Scripts.Render("~/Scripts/clanak - validation.js")
}

<h2>Članci</h2>

@using (Html.BeginForm("Create", "Clanak", FormMethod.Post, new { onsubmit = "return isFormValid(this)" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">
        <h4>Dodaj nov članak</h4>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Clanak.Naslov, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clanak.Naslov, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Clanak.Naslov, "", new { @class = "text-danger" })
                <span id="spnaslov" style="color:red"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clanak.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Clanak.Autor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Clanak.Autor, "", new { @class = "text-danger" })
                <span id="spautor" style="color:red"></span>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.DropDownListFor(model => model.Clanak.Kategorija.Id,
                                                           new SelectList(@Model.Kategorije, "Id", "Naziv"),
                                                           "Izaberi Kategoriju")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Clanak.Tekst, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="Clanak.Tekst" id="Clanak_Tekst" cols="40" rows="5"></textarea>
                @Html.ValidationMessageFor(model => model.Clanak.Tekst, "", new { @class = "text-danger" })
                <span id="sptekst" style="color:red"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Posalji" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clanak.Naslov)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clanak.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clanak.Tekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clanak.Kategorija)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Clanci)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naslov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija.Naziv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>